
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>DHS - Process Payment</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    {% load static %}
  <link href="{% static 'tw.css' %}" rel="stylesheet"/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-blue-50">

    <header class="flex justify-between items-center p-6">
        <div class="flex items-center space-x-2">
            <img alt="SMedico logo" class="w-10 h-10" height="40" src="https://storage.googleapis.com/a1aa/image/kEfNXkvVgj5HF-FdW9m2nGYAYkSgmZyfOWNXXnI9zUo.jpg" width="40"/>
            <span class="text-2xl font-bold text-teal-600">DHS</span>
        </div>
     
    </header>

    <main class="flex flex-col items-center text-center mt-16">
        <h1 class="text-5xl font-bold text-gray-800 mb-8">Process Payment for {{ patient.name }}</h1>
        <form class="max-w-md w-full bg-white shadow-md rounded-lg p-6" method="post">
            <label for="amount">Amount</label>
            <h3 class='my-2 text-2xl font-bold text-teal-300'>{{amount}}ETB</h3>
            {% csrf_token %}
        
            {{ form.amount }}
            {{ form.notes }}
            <button type="submit" class="bg-teal-500 w-full text-white px-4 py-2 rounded-full hover:bg-teal-600 focus:outline-none transition duration-300 ease-in-out">Pay</button>
        </form>
        {% if error %}
            <p class="text-red-500 text-center mt-4">{{ error }}</p>
        {% endif %}
    </main>


    <footer class="flex justify-center items-center p-4 mt-8">
        <p class="text-gray-600">&copy; 2025 DHS - User Management</p>
    </footer>

    <script>
     
        document.querySelectorAll('input').forEach(input => {
            input.classList.add('border', 'border-gray-300', 'rounded', 'p-2', 'w-full', 'mb-4', 'focus:outline-none', 'focus:border-teal-500', 'transition', 'duration-300');
        });
        document.querySelectorAll('label').forEach(label => {
            label.classList.add('block', 'text-gray-600', 'text-sm', 'font-bold', 'mb-2');
        });
        document.querySelectorAll('button').forEach(button => {
            button.classList.add('bg-teal-500', 'text-white', 'px-4', 'py-2', 'rounded-full', 'hover:bg-teal-600', 'focus:outline-none', 'transition', 'duration-300', 'ease-in-out');
        });
    </script>
</body>
</html>